{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <title>
      {% block Title %}
      {% endblock Title %}

    </title>
</head>
<body>
<div class="card" >
    <div class="card-body">
        {% block content %}
        {% endblock content %}
    </div>
</div>
</body>
</html>